<a href="https://colab.research.google.com/github/Madathanapalleleena/ML_LAB_152/blob/main/ML_Lab_Practice.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
#23-07-2025
import pandas as pd
data = [
    [100.5, 12000, 20000, 50000],
    [150.8, 18000, 50000, 60000],
    [200.9, 22000, 70000, 70000],
    [30000, 30000, 100000, 80000],
    [40000, 45000, 125000, 90000]
]
df=pd.DataFrame(data,index=["Madhu","Kusum","Kinshuk","Ankit","Shruti"],columns=["2014","2015","2016","2017"])
print(df)

            2014   2015    2016   2017
Madhu      100.5  12000   20000  50000
Kusum      150.8  18000   50000  60000
Kinshuk    200.9  22000   70000  70000
Ankit    30000.0  30000  100000  80000
Shruti   40000.0  45000  125000  90000

In [ ]:
print(df.index)
print(df.columns)
print(df.dtypes)
print(df.ndim)
print(df.shape)
print(df.size)
print(df.values)
print(df.describe)
print(df.info)

NameError: name 'df' is not defined

In [ ]:
df.tail(2)

           2014   2015    2016   2017
Ankit   30000.0  30000  100000  80000
Shruti  40000.0  45000  125000  90000

In [ ]:
#first 2 cols
df.iloc[:,:2]
#df[df.columns[:2]]

            2014   2015
Madhu      100.5  12000
Kusum      150.8  18000
Kinshuk    200.9  22000
Ankit    30000.0  30000
Shruti   40000.0  45000

In [ ]:
d={"2018":[160000,110000,500000,340000,900000]}
df2=pd.DataFrame(d,index=["Madhu","Kusum","Kinshuk","Ankit","Shruti"])
print(df2)

           2018
Madhu    160000
Kusum    110000
Kinshuk  500000
Ankit    340000
Shruti   900000

In [ ]:
print(df2.empty)

False

In [ ]:
#24-07-2025
df3=pd.concat([df,df2],axis=1)
print(df3)

            2014   2015    2016   2017    2018
Madhu      100.5  12000   20000  50000  160000
Kusum      150.8  18000   50000  60000  110000
Kinshuk    200.9  22000   70000  70000  500000
Ankit    30000.0  30000  100000  80000  340000
Shruti   40000.0  45000  125000  90000  900000

In [ ]:
print(df3.T)

         Madhu     Kusum   Kinshuk     Ankit    Shruti
2014     100.5     150.8     200.9   30000.0   40000.0
2015   12000.0   18000.0   22000.0   30000.0   45000.0
2016   20000.0   50000.0   70000.0  100000.0  125000.0
2017   50000.0   60000.0   70000.0   80000.0   90000.0
2018  160000.0  110000.0  500000.0  340000.0  900000.0

In [ ]:
print(df3['2017'])

Madhu      50000
Kusum      60000
Kinshuk    70000
Ankit      80000
Shruti     90000
Name: 2017, dtype: int64

In [ ]:
print(df3.loc[['Madhu','Ankit'],['2017','2018']])

        2017    2018
Madhu  50000  160000
Ankit  80000  340000

In [ ]:
print(df3.loc[['Shruti'],['2016']])
print(df3)

          2016
Shruti  125000
            2014   2015    2016   2017    2018
Madhu      100.5  12000   20000  50000  160000
Kusum      150.8  18000   50000  60000  110000
Kinshuk    200.9  22000   70000  70000  500000
Ankit    30000.0  30000  100000  80000  340000
Shruti   40000.0  45000  125000  90000  900000

In [ ]:
#25-07-2025
df3.loc['Sumeet']=[196.2, 37800, 52000, 78438, 38852]
print(df3)

            2014     2015      2016     2017      2018
Madhu      100.5  12000.0   20000.0  50000.0  160000.0
Kusum      150.8  18000.0   50000.0  60000.0  110000.0
Kinshuk    200.9  22000.0   70000.0  70000.0  500000.0
Ankit    30000.0  30000.0  100000.0  80000.0  340000.0
Shruti   40000.0  45000.0  125000.0  90000.0  900000.0
Sumeet     196.2  37800.0   52000.0  78438.0   38852.0

In [ ]:
df3=df3.drop('2014',axis=1)
print(df3)

            2015      2016     2017      2018
Madhu    12000.0   20000.0  50000.0  160000.0
Kusum    18000.0   50000.0  60000.0  110000.0
Kinshuk  22000.0   70000.0  70000.0  500000.0
Ankit    30000.0  100000.0  80000.0  340000.0
Shruti   45000.0  125000.0  90000.0  900000.0
Sumeet   37800.0   52000.0  78438.0   38852.0

In [ ]:
df3=df3.drop('Kinshuk')
print(df3)

           2015      2016     2017      2018
Madhu   12000.0   20000.0  50000.0  160000.0
Kusum   18000.0   50000.0  60000.0  110000.0
Ankit   30000.0  100000.0  80000.0  340000.0
Shruti  45000.0  125000.0  90000.0  900000.0
Sumeet  37800.0   52000.0  78438.0   38852.0

In [ ]:
df3=df3.rename(index={'Ankit':"Vivaan","Madhu":"Sailesh"})
print(df3)

            2015      2016     2017      2018
Sailesh  12000.0   20000.0  50000.0  160000.0
Kusum    18000.0   50000.0  60000.0  110000.0
Vivaan   30000.0  100000.0  80000.0  340000.0
Shruti   45000.0  125000.0  90000.0  900000.0
Sumeet   37800.0   52000.0  78438.0   38852.0

In [ ]:
df3.loc['Sailesh','2018']=100000
print(df3)

            2015      2016     2017      2018
Sailesh  12000.0   20000.0  50000.0  100000.0
Kusum    18000.0   50000.0  60000.0  110000.0
Vivaan   30000.0  100000.0  80000.0  340000.0
Shruti   45000.0  125000.0  90000.0  900000.0
Sumeet   37800.0   52000.0  78438.0   38852.0

In [ ]:
#28-07-2025
df3.to_csv("SalesFigures.csv",index=False,header=False)

In [ ]:
r=pd.read_csv("SalesFigures.csv",header=None)
print(r)

         0         1        2         3
0  12000.0   20000.0  50000.0  100000.0
1  18000.0   50000.0  60000.0  110000.0
2  30000.0  100000.0  80000.0  340000.0
3  45000.0  125000.0  90000.0  900000.0
4  37800.0   52000.0  78438.0   38852.0

In [ ]:
r.index=["Sailesh","Kusum","Vivaan","Shruti","Summet"]
r.columns=["2015","2016","2017","2018"]
print(r)

            2015      2016     2017      2018
Sailesh  12000.0   20000.0  50000.0  100000.0
Kusum    18000.0   50000.0  60000.0  110000.0
Vivaan   30000.0  100000.0  80000.0  340000.0
Shruti   45000.0  125000.0  90000.0  900000.0
Summet   37800.0   52000.0  78438.0   38852.0

In [ ]:
data1={
    "Item": ["TV", "TV", "TV", "AC"],
    "Company": ["LG", "VIDEOCON", "LG", "SONY"],
    "Rupees": [12000, 10000, 15000, 14000],
    "USD": [700, 650, 800, 750]
}
product=pd.DataFrame(data1,columns=["Item","Company","Rupees","USD"])
print(product)

  Item   Company  Rupees  USD
0   TV        LG   12000  700
1   TV  VIDEOCON   10000  650
2   TV        LG   15000  800
3   AC      SONY   14000  750

In [ ]:
d={"Item":"Fridge","Company":'Samsung',"Rupees":18000,"USD":900}
product=pd.concat([product,pd.DataFrame([d])],ignore_index=True)
print(product)
#product.loc[4]=[data]

     Item   Company  Rupees  USD
0      TV        LG   12000  700
1      TV  VIDEOCON   10000  650
2      TV        LG   15000  800
3      AC      SONY   14000  750
4  Fridge   Samsung   18000  900

In [ ]:
print(product[(product['Item']=="TV") & (product['Company']=="LG")]['Rupees'].max())

15000

In [ ]:
print("sum of all products")
print(product['Rupees'].sum())

sum of all products
69000

In [ ]:
#29-07-2025
print(product[product['Company']=="SONY"]["USD"].median())

750.0

In [ ]:
s_product=product.sort_values(by="Rupees",ascending=True)
print(s_product)

     Item   Company  Rupees  USD
1      TV  VIDEOCON   10000  650
0      TV        LG   12000  700
3      AC      SONY   14000  750
2      TV        LG   15000  800
4  Fridge   Samsung   18000  900

In [ ]:
!pip install pymysql

Collecting pymysql
  Downloading PyMySQL-1.1.1-py3-none-any.whl.metadata (4.4 kB)
Downloading PyMySQL-1.1.1-py3-none-any.whl (44 kB)
   ━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━ 45.0/45.0 kB 2.6 MB/s eta 0:00:00
Installing collected packages: pymysql
Successfully installed pymysql-1.1.1

In [ ]:
import sqlite3
conn = sqlite3.connect("products.db")
cursor = conn.cursor()
cursor.execute("CREATE TABLE IF NOT EXISTS product (Item TEXT, Company TEXT, Rupees REAL, USD REAL)")
for i, row in df.iterrows():
    cursor.execute("INSERT INTO product (Item, Company, Rupees, USD) VALUES (?, ?, ?, ?)", tuple(row))
conn.commit()
conn.close()

In [ ]:
import numpy as np
data = {
    'Name': ['Amit', 'Sneha', 'Ravi', 'Pooja', 'Manish'],
    'Degree': ['MBA', 'MBA', 'BCA', 'BCA', 'MBA'],
    'Stream': ['HR', 'Finance', 'IT', 'IT', 'HR'],
    'Marks': [78, np.nan, 84, 76, 89]
}
df = pd.DataFrame(data)
print(df)

     Name Degree   Stream  Marks
0    Amit    MBA       HR   78.0
1   Sneha    MBA  Finance    NaN
2    Ravi    BCA       IT   84.0
3   Pooja    BCA       IT   76.0
4  Manish    MBA       HR   89.0

In [ ]:
print(df.groupby('Stream')['Marks'].max())

Stream
Finance     NaN
HR         89.0
IT         84.0
Name: Marks, dtype: float64

In [ ]:
df['Marks'].fillna(76,inplace=True)
print(df)

     Name Degree   Stream  Marks
0    Amit    MBA       HR   78.0
1   Sneha    MBA  Finance   76.0
2    Ravi    BCA       IT   84.0
3   Pooja    BCA       IT   76.0
4  Manish    MBA       HR   89.0

/tmp/ipython-input-42-1205099632.py:1: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  df['Marks'].fillna(76,inplace=True)

In [ ]:
df.set_index('Name',inplace=True)
print(df)

       Degree   Stream  Marks
Name
Amit      MBA       HR   78.0
Sneha     MBA  Finance   76.0
Ravi      BCA       IT   84.0
Pooja     BCA       IT   76.0
Manish    MBA       HR   89.0

In [ ]:
print(df.groupby(['Name','Degree'])['Marks'].mean())

Name    Degree
Amit    MBA       78.0
Manish  MBA       89.0
Pooja   BCA       76.0
Ravi    BCA       84.0
Sneha   MBA       76.0
Name: Marks, dtype: float64

In [ ]:
print(len(df[df['Degree']=='MBA']))

3

In [ ]:
print(df[df['Degree']=='BCA']['Marks'].mode())

0    76.0
1    84.0
Name: Marks, dtype: float64

In [1]:
#30-07-2025
from google.colab import files
uploaded=files.upload()

Saving ai_assistant_usage_student_life.csv to ai_assistant_usage_student_life.csv

In [2]:
import pandas as pd
df=pd.read_csv("ai_assistant_usage_student_life.csv")
df.head()

,SessionID,StudentLevel,Discipline,SessionDate,SessionLengthMin,TotalPrompts,TaskType,AI_AssistanceLevel,FinalOutcome,UsedAgain,SatisfactionRating
0,SESSION00001,Undergraduate,Computer Science,2024-11-03,31.20,11,Studying,2,Assignment Completed,True,1.0
1,SESSION00002,Undergraduate,Psychology,2024-08-25,13.09,6,Studying,3,Assignment Completed,True,2.0
2,SESSION00003,Undergraduate,Business,2025-01-12,19.22,5,Coding,3,Assignment Completed,True,3.3
3,SESSION00004,Undergraduate,Computer Science,2025-05-06,3.70,1,Coding,3,Assignment Completed,True,3.5
4,SESSION00005,Undergraduate,Psychology,2025-03-18,28.12,9,Writing,3,Assignment Completed,True,2.9

In [3]:
import numpy as np
print(df.info())
print("null values")
print(df.isnull().sum())

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 10000 entries, 0 to 9999
Data columns (total 11 columns):
 #   Column              Non-Null Count  Dtype
---  ------              --------------  -----
 0   SessionID           10000 non-null  object
 1   StudentLevel        10000 non-null  object
 2   Discipline          10000 non-null  object
 3   SessionDate         10000 non-null  object
 4   SessionLengthMin    10000 non-null  float64
 5   TotalPrompts        10000 non-null  int64
 6   TaskType            10000 non-null  object
 7   AI_AssistanceLevel  10000 non-null  int64
 8   FinalOutcome        10000 non-null  object
 9   UsedAgain           10000 non-null  bool
 10  SatisfactionRating  10000 non-null  float64
dtypes: bool(1), float64(2), int64(2), object(6)
memory usage: 791.1+ KB
None
null values
SessionID             0
StudentLevel          0
Discipline            0
SessionDate           0
SessionLengthMin      0
TotalPrompts          0
TaskType              0
AI_AssistanceLevel    0
FinalOutcome          0
UsedAgain             0
SatisfactionRating    0
dtype: int64

In [4]:
from sklearn.model_selection import train_test_split
from sklearn.feature_selection import VarianceThreshold
print(df.shape)
print(df.tail())

(10000, 11)
         SessionID   StudentLevel  Discipline SessionDate  SessionLengthMin  \
9995  SESSION09996  Undergraduate  Psychology  2024-07-20             28.41
9996  SESSION09997    High School    Business  2024-11-11             13.98
9997  SESSION09998  Undergraduate     Biology  2024-09-11             10.78
9998  SESSION09999  Undergraduate    Business  2024-10-27             30.88
9999  SESSION10000  Undergraduate        Math  2025-04-16             10.85

      TotalPrompts  TaskType  AI_AssistanceLevel          FinalOutcome  \
9995             5  Studying                   3  Assignment Completed
9996             6   Writing                   5  Assignment Completed
9997             2  Studying                   3          Idea Drafted
9998             7   Writing                   3  Assignment Completed
9999             3   Writing                   4  Assignment Completed

      UsedAgain  SatisfactionRating
9995       True                 4.2
9996       True                 5.0
9997       True                 3.5
9998      False                 4.3
9999       True                 4.9

In [5]:
constant_features = [col for col in df.columns if df[col].nunique() == 1]
print("Constant Features:", constant_features)
import numpy as np
df.loc[df["SessionID"] == "SESSION10000", "SatisfactionRating"] = np.nan
print(df.tail())

Constant Features: []
         SessionID   StudentLevel  Discipline SessionDate  SessionLengthMin  \
9995  SESSION09996  Undergraduate  Psychology  2024-07-20             28.41
9996  SESSION09997    High School    Business  2024-11-11             13.98
9997  SESSION09998  Undergraduate     Biology  2024-09-11             10.78
9998  SESSION09999  Undergraduate    Business  2024-10-27             30.88
9999  SESSION10000  Undergraduate        Math  2025-04-16             10.85

      TotalPrompts  TaskType  AI_AssistanceLevel          FinalOutcome  \
9995             5  Studying                   3  Assignment Completed
9996             6   Writing                   5  Assignment Completed
9997             2  Studying                   3          Idea Drafted
9998             7   Writing                   3  Assignment Completed
9999             3   Writing                   4  Assignment Completed

      UsedAgain  SatisfactionRating
9995       True                 4.2
9996       True                 5.0
9997       True                 3.5
9998      False                 4.3
9999       True                 NaN

In [6]:
print(df.isnull().sum())

SessionID             0
StudentLevel          0
Discipline            0
SessionDate           0
SessionLengthMin      0
TotalPrompts          0
TaskType              0
AI_AssistanceLevel    0
FinalOutcome          0
UsedAgain             0
SatisfactionRating    1
dtype: int64

In [7]:
df['SatisfactionRating'].fillna(df['SatisfactionRating'].mean(),inplace=True)
print(df.isnull().sum())

SessionID             0
StudentLevel          0
Discipline            0
SessionDate           0
SessionLengthMin      0
TotalPrompts          0
TaskType              0
AI_AssistanceLevel    0
FinalOutcome          0
UsedAgain             0
SatisfactionRating    0
dtype: int64

/tmp/ipython-input-2400177460.py:1: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  df['SatisfactionRating'].fillna(df['SatisfactionRating'].mean(),inplace=True)

In [21]:
train_x,test_x,train_y,test_y=train_test_split(df.drop('SatisfactionRating',axis=1),df['SatisfactionRating'],test_size=0.3,random_state=42)
print(train_x.shape)
print(test_x.shape)

(7000, 11)
(3000, 11)

In [17]:
print(df.tail)
df['empty_col']=[0]*10000

<bound method NDFrame.tail of          SessionID   StudentLevel        Discipline SessionDate  \
0     SESSION00001  Undergraduate  Computer Science  2024-11-03
1     SESSION00002  Undergraduate        Psychology  2024-08-25
2     SESSION00003  Undergraduate          Business  2025-01-12
3     SESSION00004  Undergraduate  Computer Science  2025-05-06
4     SESSION00005  Undergraduate        Psychology  2025-03-18
...            ...            ...               ...         ...
9995  SESSION09996  Undergraduate        Psychology  2024-07-20
9996  SESSION09997    High School          Business  2024-11-11
9997  SESSION09998  Undergraduate           Biology  2024-09-11
9998  SESSION09999  Undergraduate          Business  2024-10-27
9999  SESSION10000  Undergraduate              Math  2025-04-16

      SessionLengthMin  TotalPrompts  TaskType  AI_AssistanceLevel  \
0                31.20            11  Studying                   2
1                13.09             6  Studying                   3
2                19.22             5    Coding                   3
3                 3.70             1    Coding                   3
4                28.12             9   Writing                   3
...                ...           ...       ...                 ...
9995             28.41             5  Studying                   3
9996             13.98             6   Writing                   5
9997             10.78             2  Studying                   3
9998             30.88             7   Writing                   3
9999             10.85             3   Writing                   4

              FinalOutcome  UsedAgain  SatisfactionRating  empty_col
0     Assignment Completed       True            1.000000          0
1     Assignment Completed       True            2.000000          0
2     Assignment Completed       True            3.300000          0
3     Assignment Completed       True            3.500000          0
4     Assignment Completed       True            2.900000          0
...                    ...        ...                 ...        ...
9995  Assignment Completed       True            4.200000          0
9996  Assignment Completed       True            5.000000          0
9997          Idea Drafted       True            3.500000          0
9998  Assignment Completed      False            4.300000          0
9999  Assignment Completed       True            3.417632          0

[10000 rows x 12 columns]>

In [22]:
#checking for constant features in dataset
c = [f for f in train_x.select_dtypes(include='number').columns if train_x[f].std() == 0]
print(c)
a=[col for col in train_x.columns if train_x[col].nunique()==1]
print(a)
print(df)

['empty_col']
['empty_col']
         SessionID   StudentLevel        Discipline SessionDate  \
0     SESSION00001  Undergraduate  Computer Science  2024-11-03
1     SESSION00002  Undergraduate        Psychology  2024-08-25
2     SESSION00003  Undergraduate          Business  2025-01-12
3     SESSION00004  Undergraduate  Computer Science  2025-05-06
4     SESSION00005  Undergraduate        Psychology  2025-03-18
...            ...            ...               ...         ...
9995  SESSION09996  Undergraduate        Psychology  2024-07-20
9996  SESSION09997    High School          Business  2024-11-11
9997  SESSION09998  Undergraduate           Biology  2024-09-11
9998  SESSION09999  Undergraduate          Business  2024-10-27
9999  SESSION10000  Undergraduate              Math  2025-04-16

      SessionLengthMin  TotalPrompts  TaskType  AI_AssistanceLevel  \
0                31.20            11  Studying                   2
1                13.09             6  Studying                   3
2                19.22             5    Coding                   3
3                 3.70             1    Coding                   3
4                28.12             9   Writing                   3
...                ...           ...       ...                 ...
9995             28.41             5  Studying                   3
9996             13.98             6   Writing                   5
9997             10.78             2  Studying                   3
9998             30.88             7   Writing                   3
9999             10.85             3   Writing                   4

              FinalOutcome  UsedAgain  SatisfactionRating  empty_col
0     Assignment Completed       True            1.000000          0
1     Assignment Completed       True            2.000000          0
2     Assignment Completed       True            3.300000          0
3     Assignment Completed       True            3.500000          0
4     Assignment Completed       True            2.900000          0
...                    ...        ...                 ...        ...
9995  Assignment Completed       True            4.200000          0
9996  Assignment Completed       True            5.000000          0
9997          Idea Drafted       True            3.500000          0
9998  Assignment Completed      False            4.300000          0
9999  Assignment Completed       True            3.417632          0

[10000 rows x 12 columns]

In [23]:
#dropping constant feature
train_x.drop(a,axis=1,inplace=True)
test_x.drop(a,axis=1,inplace=True)
print(train_x.shape)
print(test_x.shape)

(7000, 10)
(3000, 10)

In [ ]:
#quasi-constant feature
quasi_feature=[]
for i in train_x.

In [ ]:
#02-08-2025