<a href="https://colab.research.google.com/github/Madathanapalleleena/ML_LAB_152/blob/main/ML_Lab_Practice.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
#23-07-2025
import pandas as pd
data = [
    [100.5, 12000, 20000, 50000],
    [150.8, 18000, 50000, 60000],
    [200.9, 22000, 70000, 70000],
    [30000, 30000, 100000, 80000],
    [40000, 45000, 125000, 90000]
]
df=pd.DataFrame(data,index=["Madhu","Kusum","Kinshuk","Ankit","Shruti"],columns=["2014","2015","2016","2017"])
print(df)

            2014   2015    2016   2017
Madhu      100.5  12000   20000  50000
Kusum      150.8  18000   50000  60000
Kinshuk    200.9  22000   70000  70000
Ankit    30000.0  30000  100000  80000
Shruti   40000.0  45000  125000  90000

In [ ]:
print(df.index)
print(df.columns)
print(df.dtypes)
print(df.ndim)
print(df.shape)
print(df.size)
print(df.values)

Index(['Madhu', 'Kusum', 'Kinshuk', 'Ankit', 'Shruti'], dtype='object')
Index(['2014', '2015', '2016', '2017'], dtype='object')
2014    float64
2015      int64
2016      int64
2017      int64
dtype: object
2
(5, 4)
20
[[1.005e+02 1.200e+04 2.000e+04 5.000e+04]
 [1.508e+02 1.800e+04 5.000e+04 6.000e+04]
 [2.009e+02 2.200e+04 7.000e+04 7.000e+04]
 [3.000e+04 3.000e+04 1.000e+05 8.000e+04]
 [4.000e+04 4.500e+04 1.250e+05 9.000e+04]]

In [ ]:
df.tail(2)

           2014   2015    2016   2017
Ankit   30000.0  30000  100000  80000
Shruti  40000.0  45000  125000  90000

In [ ]:
#first 2 cols
df.iloc[:,:2]
#df[df.columns[:2]]

            2014   2015
Madhu      100.5  12000
Kusum      150.8  18000
Kinshuk    200.9  22000
Ankit    30000.0  30000
Shruti   40000.0  45000

In [2]:
d={"2018":[160000,110000,500000,340000,900000]}
df2=pd.DataFrame(d,index=["Madhu","Kusum","Kinshuk","Ankit","Shruti"])
print(df2)

           2018
Madhu    160000
Kusum    110000
Kinshuk  500000
Ankit    340000
Shruti   900000

In [ ]:
print(df2.empty)

False

In [3]:
#24-07-2025
df3=pd.concat([df,df2],axis=1)
print(df3)

            2014   2015    2016   2017    2018
Madhu      100.5  12000   20000  50000  160000
Kusum      150.8  18000   50000  60000  110000
Kinshuk    200.9  22000   70000  70000  500000
Ankit    30000.0  30000  100000  80000  340000
Shruti   40000.0  45000  125000  90000  900000

In [4]:
print(df3.T)

         Madhu     Kusum   Kinshuk     Ankit    Shruti
2014     100.5     150.8     200.9   30000.0   40000.0
2015   12000.0   18000.0   22000.0   30000.0   45000.0
2016   20000.0   50000.0   70000.0  100000.0  125000.0
2017   50000.0   60000.0   70000.0   80000.0   90000.0
2018  160000.0  110000.0  500000.0  340000.0  900000.0

In [5]:
print(df3['2017'])

Madhu      50000
Kusum      60000
Kinshuk    70000
Ankit      80000
Shruti     90000
Name: 2017, dtype: int64

In [6]:
print(df3.loc[['Madhu','Ankit'],['2017','2018']])

        2017    2018
Madhu  50000  160000
Ankit  80000  340000

In [7]:
print(df3.loc[['Shruti'],['2016']])
print(df3)

          2016
Shruti  125000
            2014   2015    2016   2017    2018
Madhu      100.5  12000   20000  50000  160000
Kusum      150.8  18000   50000  60000  110000
Kinshuk    200.9  22000   70000  70000  500000
Ankit    30000.0  30000  100000  80000  340000
Shruti   40000.0  45000  125000  90000  900000

In [8]:
#25-07-2025
df3.loc['Sumeet']=[196.2, 37800, 52000, 78438, 38852]
print(df3)

            2014     2015      2016     2017      2018
Madhu      100.5  12000.0   20000.0  50000.0  160000.0
Kusum      150.8  18000.0   50000.0  60000.0  110000.0
Kinshuk    200.9  22000.0   70000.0  70000.0  500000.0
Ankit    30000.0  30000.0  100000.0  80000.0  340000.0
Shruti   40000.0  45000.0  125000.0  90000.0  900000.0
Sumeet     196.2  37800.0   52000.0  78438.0   38852.0

In [9]:
df3=df3.drop('2014',axis=1)
print(df3)

            2015      2016     2017      2018
Madhu    12000.0   20000.0  50000.0  160000.0
Kusum    18000.0   50000.0  60000.0  110000.0
Kinshuk  22000.0   70000.0  70000.0  500000.0
Ankit    30000.0  100000.0  80000.0  340000.0
Shruti   45000.0  125000.0  90000.0  900000.0
Sumeet   37800.0   52000.0  78438.0   38852.0

In [10]:
df3=df3.drop('Kinshuk')
print(df3)

           2015      2016     2017      2018
Madhu   12000.0   20000.0  50000.0  160000.0
Kusum   18000.0   50000.0  60000.0  110000.0
Ankit   30000.0  100000.0  80000.0  340000.0
Shruti  45000.0  125000.0  90000.0  900000.0
Sumeet  37800.0   52000.0  78438.0   38852.0

In [11]:
df3=df3.rename(index={'Ankit':"Vivaan","Madhu":"Sailesh"})
print(df3)

            2015      2016     2017      2018
Sailesh  12000.0   20000.0  50000.0  160000.0
Kusum    18000.0   50000.0  60000.0  110000.0
Vivaan   30000.0  100000.0  80000.0  340000.0
Shruti   45000.0  125000.0  90000.0  900000.0
Sumeet   37800.0   52000.0  78438.0   38852.0

In [12]:
df3.loc['Sailesh','2018']=100000
print(df3)

            2015      2016     2017      2018
Sailesh  12000.0   20000.0  50000.0  100000.0
Kusum    18000.0   50000.0  60000.0  110000.0
Vivaan   30000.0  100000.0  80000.0  340000.0
Shruti   45000.0  125000.0  90000.0  900000.0
Sumeet   37800.0   52000.0  78438.0   38852.0

In [13]:
#28-07-2025
df3.to_csv("SalesFigures.csv",index=False,header=False)

In [16]:
r=pd.read_csv("SalesFigures.csv",header=None)
print(r)

         0         1        2         3
0  12000.0   20000.0  50000.0  100000.0
1  18000.0   50000.0  60000.0  110000.0
2  30000.0  100000.0  80000.0  340000.0
3  45000.0  125000.0  90000.0  900000.0
4  37800.0   52000.0  78438.0   38852.0

In [17]:
r.index=["Sailesh","Kusum","Vivaan","Shruti","Summet"]
r.columns=["2015","2016","2017","2018"]
print(r)

            2015      2016     2017      2018
Sailesh  12000.0   20000.0  50000.0  100000.0
Kusum    18000.0   50000.0  60000.0  110000.0
Vivaan   30000.0  100000.0  80000.0  340000.0
Shruti   45000.0  125000.0  90000.0  900000.0
Summet   37800.0   52000.0  78438.0   38852.0

In [18]:
data1={
    "Item": ["TV", "TV", "TV", "AC"],
    "Company": ["LG", "VIDEOCON", "LG", "SONY"],
    "Rupees": [12000, 10000, 15000, 14000],
    "USD": [700, 650, 800, 750]
}
product=pd.DataFrame(data1,columns=["Item","Company","Rupees","USD"])
print(product)

  Item   Company  Rupees  USD
0   TV        LG   12000  700
1   TV  VIDEOCON   10000  650
2   TV        LG   15000  800
3   AC      SONY   14000  750

In [24]:
d={"Item":"Fridge","Company":'Samsung',"Rupees":18000,"USD":900}
product=pd.concat([product,pd.DataFrame([d])],ignore_index=True)
print(product)
#product.loc[4]=[data]

     Item   Company  Rupees  USD
0      TV        LG   12000  700
1      TV  VIDEOCON   10000  650
2      TV        LG   15000  800
3      AC      SONY   14000  750
4  Fridge   Samsung   18000  900

In [26]:
print(product[(product['Item']=="TV") & (product['Company']=="LG")]['Rupees'].max())

15000

In [27]:
print("sum of all products")
print(product['Rupees'].sum())

sum of all products
69000

In [30]:
#29-07-2025
print(product[product['Company']=="SONY"]["USD"].median())

750.0

In [33]:
s_product=product.sort_values(by="Rupees",ascending=True)
print(s_product)

     Item   Company  Rupees  USD
1      TV  VIDEOCON   10000  650
0      TV        LG   12000  700
3      AC      SONY   14000  750
2      TV        LG   15000  800
4  Fridge   Samsung   18000  900

In [35]:
!pip install pymysql

Collecting pymysql
  Downloading PyMySQL-1.1.1-py3-none-any.whl.metadata (4.4 kB)
Downloading PyMySQL-1.1.1-py3-none-any.whl (44 kB)
   ━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━ 45.0/45.0 kB 2.6 MB/s eta 0:00:00
Installing collected packages: pymysql
Successfully installed pymysql-1.1.1

In [37]:
import sqlite3
conn = sqlite3.connect("products.db")
cursor = conn.cursor()
cursor.execute("CREATE TABLE IF NOT EXISTS product (Item TEXT, Company TEXT, Rupees REAL, USD REAL)")
for i, row in df.iterrows():
    cursor.execute("INSERT INTO product (Item, Company, Rupees, USD) VALUES (?, ?, ?, ?)", tuple(row))
conn.commit()
conn.close()